@font-face {
  font-weight: 400;
  font-family: Exo2;
  font-style: normal;
  src: url("./static/fonts/Exo2-Regular.otf") format("opentype"),
    url("./static/fonts/Exo2-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Exo2;
  font-style: normal;
  src: url("./static/fonts/Exo2-SemiBold.otf") format("opentype"),
    url("./static/fonts/Exo2-SemiBold.ttf") format("truetype");
  font-display: swap;
}

:root {
  --main-background-color: #0c0521;
  --main-side-padding: 0 16px;
  --main-max-width: 1148px;
}

* {
  box-sizing: border-box;
}

body,
button {
  font-family: Exo2, Arial, sans-serif;
}

body {
  position: relative;
  margin: 0;
  font-size: 14px;
  line-height: 1.45;
  color: #ffffff;
  background: var(--main-background-color);
}

body.lock {
  overflow: hidden;
}

button {
  --webkit-appearance: none;
  overflow: visible;

  inline-size: auto;

  margin: 0;
  padding: 0;

  font: inherit;
  line-height: normal;

  color: inherit;
  background: transparent;
  border: none;

  cursor: pointer;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  outline: none;
}

button::-moz-focus-inner {
  padding: 0;

  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 52px;
  line-height: 78px;

  font-weight: 400;

  margin: 0;
}

h2 {
  font-size: 24px;
  line-height: 36px;

  font-weight: 600;

  margin: 0;
}

h3 {
  font-size: 20px;
  line-height: 30px;

  font-weight: 600;

  margin: 0;
}

h4,
.h4 {
  font-size: 18px;
  line-height: 27px;

  font-weight: 600;

  margin: 0;
}

@media (min-width: 1024px) {
  :root {
    --main-background-color: #0c0521;
    --main-side-padding: 0 24px;
    --main-max-width: 1164px;
  }

  body {
    font-size: 20px;
    line-height: 1.5;
  }

  h1 {
    font-size: 80px;
    line-height: 120px;
  }

  h2 {
    font-size: 32px;
    line-height: 48px;
  }

  h3 {
    font-size: 24px;
    line-height: 36px;
  }

  h4,
  .h4 {
    font-size: 20px;
    line-height: 30px;
  }
}

/* Common */

.common__wrap {
  padding: var(--main-side-padding);
  margin: 0 auto;
  max-width: var(--main-max-width);

  position: relative;
  z-index: 5;
}

.common__button {
  display: flex;
  align-items: center;

  font-size: 16px;
  font-weight: 600;
  height: 44px;
  box-shadow: 0px 12px 40px 0px #ffffff1f;
  background: #1340df;
  border-radius: 8px;
  padding: 10px 24px;

  transition: background 0.15s ease-out;
}

.common__button:hover,
.common__button:focus {
  background: #0c2b9f;
}

.common__button__arrow {
  display: block;
  margin-left: 16px;
  position: relative;
  top: 2px;
}

.common__button_ghost {
  display: flex;
  align-items: center;

  height: 44px;

  padding: 10px 28px;

  border: 1px solid #1340df;

  border-radius: 8px;

  font-size: 16px;
  font-weight: 600;

  transition: background 0.15s ease-out;
}

.common__button_ghost:hover,
.common__button_ghost:focus {
  background: rgba(255, 255, 255, 0.05);
}

.main {
  transition: opacity 0.3s ease-out;

  position: relative;
  z-index: 5;
}

.cross {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 24px;
  width: 24px;
  position: relative;

  border-radius: 50%;
}

.cross__bar {
  height: 2px;
  width: 18px;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.4s;

  --bar-height-after-transform: 1.3px;
  --bar-margin: 6px;
  --bar-translate-y: calc(
    (var(--bar-margin) + var(--bar-height-after-transform)) / 2
  );
}

.cross__bar:first-child {
  margin-bottom: var(--bar-margin);
}

.active .cross__bar:first-child {
  height: var(--bar-height-after-transform);
  width: 14px;
  transform: translateY(var(--bar-translate-y)) rotate(45deg);
}

.active .cross__bar:last-child {
  height: var(--bar-height-after-transform);
  width: 14px;
  transform: translateY(calc(var(--bar-translate-y) * -1)) rotate(-45deg);
}

.cross::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 1px solid transparent;
  border-radius: 50%;

  box-sizing: border-box;
}

.active .cross::after {
  animation: header-circle-creation 0.5s forwards;
}

.bullet_list__item {
  position: relative;

  padding-inline-start: 20px;

  margin-bottom: 24px;
}

.bullet_list__item::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;

  border-radius: 2px;
  background: #fff;

  position: absolute;

  top: 11px;
  left: 0;
}

/* Ellipses */

.ellipse__wrap {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ellipse {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  filter: blur(100px);
}

.ellipse__1 {
  width: 1475.43px;
  height: 408.9px;
  left: -333px;
  top: -108.56px;

  background: #16349c;

  transform: rotate(-11.47deg);
}

.ellipse__2 {
  width: 893.19px;
  height: 364.2px;
  left: -150px;
  top: -130.36px;

  background: #613f9e;

  transform: rotate(-11.47deg);
}

.ellipse__3 {
  width: 1525.77px;
  height: 777.58px;
  left: -764.12px;
  top: 1608.67px;

  background: #16349c;
  opacity: 0.2;

  transform: rotate(-11.47deg);
}

.ellipse__4 {
  width: 2036.32px;
  height: 485.29px;
  left: -269.88px;
  top: 2699.13px;

  background: #16349c;
  opacity: 0.4;

  transform: rotate(-11.47deg);
}

@media (min-width: 1024px) {
  .ellipse__1 {
    width: 1190.69px;
    height: 364.2px;
    left: 116.93px;
    top: 1131.81px;

    background: #613f9e;
    opacity: 0.2;

    transform: rotate(-11.47deg);
  }

  .ellipse__2 {
    width: 1525.77px;
    height: 777.58px;
    left: -764.12px;
    top: 1678.67px;

    background: #16349c;
    opacity: 0.2;

    transform: rotate(-11.47deg);
  }

  .ellipse__3 {
    width: 501.77px;
    height: 374.92px;
    left: 1371.42px;
    top: 4142.9px;

    background: #ffffff;
    opacity: 0.1;

    transform: matrix(-0.99, 0.14, 0.28, 0.96, 0, 0);
  }

  .ellipse__4 {
    width: 1593.15px;
    height: 664.12px;
    left: 213px;
    top: 4231.83px;

    background: #16349c;
    opacity: 0.3;

    transform: matrix(0.99, -0.14, 0.28, 0.96, 0, 0);
  }

  .ellipse__5 {
    width: 352.87px;
    height: 367.27px;
    left: 1306.3px;
    top: 464.9px;

    background: #ffffff;
    opacity: 0.2;

    transform: matrix(-0.98, 0.2, 0.2, 0.98, 0, 0);
  }

  .ellipse__6 {
    width: 318.87px;
    height: 331.88px;
    left: 1047.85px;
    top: -240.42px;

    background: #ffffff;
    opacity: 0.3;

    transform: matrix(-0.98, 0.2, 0.2, 0.98, 0, 0);
  }

  .ellipse__7 {
    width: 893.19px;
    height: 364.2px;
    left: 478px;
    top: 2710.64px;

    background: #613f9e;
    opacity: 0.4;

    transform: rotate(-11.47deg);
  }

  .ellipse__8 {
    width: 2036.32px;
    height: 485.29px;
    left: -269.88px;
    top: 2769.13px;

    background: #16349c;
    opacity: 0.4;

    transform: rotate(-11.47deg);
  }

  .ellipse__9 {
    width: 893.19px;
    height: 364.2px;
    left: -150px;
    top: -60.36px;

    background: #613f9e;

    transform: rotate(-11.47deg);
  }

  .ellipse__10 {
    width: 1120.38px;
    height: 650.57px;
    left: 500px;
    top: 553.83px;

    background: #16349c;
    opacity: 0.5;

    transform: rotate(-11.47deg);
  }

  .ellipse__11 {
    width: 1475.43px;
    height: 408.9px;
    left: -333px;
    top: -38.56px;

    background: #16349c;

    transform: rotate(-11.47deg);
  }
}

/* Banner */
.banner {
  position: sticky;
  top: 0;
  z-index: 999;

  max-width: initial;

  padding-top: 3px;
  padding-bottom: 10px;

  text-align: center;

  width: 100%;

  background: #2445bb;

  box-shadow: 0px 12px 30px 0px #ffffff1f;
}

.banner__cross {
  position: absolute;
  top: 50%;
  right: 16px;

  transform: translateY(-50%);

  transition: background 0.15s linear;
}

.banner__cross:hover,
.banner__cross:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.banner__title {
  font-size: 12px;

  border-bottom: 1px solid #ffffff;
}

.banner__percentage {
  font-size: 18px;
  font-weight: 600;

  margin-left: 2px;
}

.banner__text {
  margin-top: 4px;

  font-size: 8px;

  color: rgba(255, 255, 255, 0.6);
}

.banner .banner__cross::after {
  animation: none;
  border-color: #fff;
}

@media (min-width: 1024px) {
  .banner {
    padding-top: 10px;
    padding-bottom: 13px;
  }

  .banner__info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner__title {
    font-size: 14px;
  }

  .banner__percentage {
    font-size: 22px;
  }

  .banner__text {
    margin-top: 5px;
    margin-left: 24px;

    font-size: 14px;
  }
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  position: relative;

  padding-top: 12px;
  padding-bottom: 12px;

  transition: background 0.3s ease-out;
}

.header.active ~ .main {
  opacity: 0;
  pointer-events: none;
}

.header__logo {
  display: block;
}

.header__menu {
  opacity: 0;
  transform: scale(0.95);
  transform-origin: top right;

  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;

  padding: var(--main-side-padding);

  pointer-events: none;

  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.header__menu__link {
  display: block;

  margin-bottom: 24px;

  font-size: 16px;
  line-height: 24px;
}

.header.active .header__menu {
  opacity: 1;
  transform: scale(1);

  pointer-events: auto;
}

.header__menu__item__buy {
  margin-top: 40px;

  justify-content: center;

  width: 100%;
}

.header__buy {
  display: none;
}

@media (min-width: 1024px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;

    margin: 0 auto;
    max-width: var(--main-max-width);
  }

  .header__buy {
    display: flex;
  }

  .header__logo {
    width: 165px;
    height: 52px;
  }

  .header__menu {
    width: auto;
    position: static;

    pointer-events: auto;

    opacity: 1;
    transform: scale(1);

    display: flex;
    justify-content: space-between;

    padding: 0;
  }

  .header__menu__link {
    margin-bottom: 0;
    padding: 0 12px;
    color: rgba(255, 255, 255, 0.8);

    transition: color 0.15s ease-out;
  }

  .header__menu__link:hover,
  .header__menu__link:focus {
    color: #fff;
  }

  .header__burger {
    display: none;
  }

  .header__menu__item__buy {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header__menu__link {
    padding: 0 22px;
  }
}

/* Intro */

.intro__wrap {
  padding-top: 16px;
}

.intro__title sup {
  font-size: 32px;
  font-weight: 500;
}

.intro__text {
  margin: 12px 0 0;

  color: rgba(255, 255, 255, 0.8);

  max-width: 450px;
}

.intro__button {
  justify-content: center;

  width: 100%;

  margin-top: 24px;
}

.intro__image {
  display: block;
  max-width: 100%;
  height: auto;

  margin: 0 auto;
}

.intro__title,
.intro__text,
.intro__wrap__button {
  padding: var(--main-side-padding);
}

.canvas,
.canvas__loader {
  display: none;
}

@media (min-width: 1024px) {
  .intro__title,
  .intro__text,
  .intro__wrap__button {
    padding: 0;
  }

  .intro__wrap {
    padding: var(--main-side-padding);
    margin: 0 auto;
    max-width: var(--main-max-width);

    position: relative;
  }

  .intro__title {
    padding-top: 73px;
  }

  .intro__title sup {
    font-size: 40px;
  }

  .intro__text {
    margin-top: 16px;
  }

  .intro__wrap__button {
    position: relative;
    z-index: 10;
    margin-top: 44px;
    width: -moz-fit-content;
    width: fit-content;
  }

  .intro__image {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
  }

  .canvas {
    display: block;
    position: absolute;
    top: 0;
    right: 50%;
    z-index: 6;
    transform: translateX(50%);

    max-width: 100vw;
  }

  .canvas__loader {
    display: block;
    position: absolute;
    top: 55%;
    right: 30%;
  }

  .intro__button {
    width: -moz-fit-content;
    width: fit-content;
  }
}

/* How it works */

.how_it_works {
  padding-top: 80px;
}

.how_it_works__title {
  text-transform: uppercase;
}

.how_it_works__text {
  margin-top: 12px;

  color: rgba(255, 255, 255, 0.8);

  max-width: 465px;
}

.how_it_works__content {
  margin-top: 44px;
}

.how_it_works__video {
  display: block;
  max-width: 100%;
  height: auto;

  margin: 0 auto;

  box-shadow: 20px 60px 60px 0px #00000080;

  border-radius: 16px;

  border: 4px solid #2d2d2d;
}

.how_it_works__explanation {
  margin-top: 44px;
}

.how_it_works__list {
  margin-top: 24px;
}

.how_it_works__item__text {
  margin-top: 8px;

  color: rgba(255, 255, 255, 0.8);
}

.how_it_works__last_word {
  font-size: 16px;
  font-weight: 600;

  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .how_it_works {
    padding-top: 100px;
  }

  .how_it_works__content {
    margin-top: 60px;

    display: grid;

    grid-template-columns: auto 440px;
    grid-gap: 20px;
    gap: 20px;

    justify-content: flex-end;

    position: relative;
  }

  .how_it_works__video {
    margin: 0;
    max-width: 100%;

    position: sticky;

    top: 30vh;
    left: 0;
  }

  .how_it_works__text {
    margin-top: 16px;
  }

  .how_it_works__explanation {
    margin-top: 0;
  }

  .how_it_works__list {
    margin-top: 40px;
  }

  .how_it_works__item {
    margin-bottom: 44px;
  }

  .how_it_works__item__text {
    margin-top: 12px;
  }
}

@media (min-width: 1280px) {
  .how_it_works__content {
    grid-gap: 40px;
    gap: 40px;
  }
}

/* Advantages */

.advantages {
  padding-top: 92px;
}

.advantages__title {
  text-transform: uppercase;
}

.advantages__list {
  margin-top: 44px;
}

.advantages__item {
  margin-bottom: 60px;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__icon {
  display: block;

  margin-bottom: 8px;
}

.advantages__text {
  font-weight: 600;
  font-size: 18px;
}

@media (min-width: 1024px) {
  .advantages {
    padding-top: 200px;
  }

  .advantages__list {
    margin-top: 60px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px 36px;
    gap: 60px 36px;
  }

  .advantages__item {
    margin-bottom: 0;
  }

  .advantages__icon {
    width: 96px;
    height: 96px;
  }

  .advantages__text {
    font-size: 24px;
  }
}

/* Result */
.result {
  padding-top: 92px;
}

.result__title {
  text-transform: uppercase;
}

.result__image {
  display: block;
  margin: 32px auto 0;

  max-width: 100%;
  height: auto;

  border-radius: 16px;
  border: 4px solid #2d2d2d;
}

@media (min-width: 560px) {
  .result__image {
    border-width: 6px;
  }
}
@media (min-width: 1024px) {
  .result {
    padding-top: 200px;

    text-align: center;
  }

  .result__image {
    margin-top: 44px;
    border-width: 12px;
  }
}

/* Reviews */

.reviews {
  padding-top: 92px;
}

.reviews__slider {
  position: relative;
}

.reviews__title {
  text-transform: uppercase;

  margin-bottom: 44px;
}

.reviews .swiper {
  padding: var(--main-side-padding);
  max-width: 972px;
  margin: 0 auto;
}

.reviews .swiper-slide {
  width: fit-content;
}

.reviews .swiper-button-next::after,
.reviews .swiper-button-prev::after {
  content: "";
}

.swiper-button-prev {
  transform: scaleX(-1);
}

@media (max-width: 1200px) {
  .reviews .swiper {
    padding-bottom: 56px;
  }

  .reviews .swiper-button-next,
  .reviews .swiper-button-prev {
    bottom: 0;
    top: auto;
  }

  .reviews .swiper-button-next {
    right: 37%;
  }

  .reviews .swiper-button-prev {
    left: 37%;
  }
}

@media (min-width: 1024px) {
  .reviews {
    padding-top: 200px;
  }

  .reviews__title {
    text-align: center;
  }

  .reviews .swiper-slide {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .reviews__nav {
    position: absolute;

    top: 50%;
    left: 50%;
    width: 100%;

    transform: translate(-50%, -50%);

    padding: var(--main-side-padding);
    margin: 0 auto;
    max-width: calc(var(--main-max-width) - 48px);
  }

  .reviews__nav .swiper-button-next {
    right: 0;
  }

  .reviews__nav .swiper-button-prev {
    left: 0;
  }
}

/* Buy */
.buy {
  padding-top: 92px;
}

.buy__title {
  text-transform: uppercase;
  margin-bottom: 44px;
}

.buy__card {
  display: block;

  border-radius: 4px 4px 36px 4px;
  border: 1px solid #ffffff;

  padding: 40px 15px;

  margin-bottom: 44px;
}

.buy__card:last-child {
  margin-bottom: 0;
}

.buy__old_price {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);

  position: relative;
}

.buy__new_price {
  margin-top: 8px;

  font-size: 32px;
  line-height: 25px;
}

.buy__period {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.buy__old_price::after {
  content: "";
  display: block;

  width: 47px;
  height: 3px;

  border-radius: 3px;

  background: #cd2222;

  position: absolute;
  bottom: 50%;
  left: 0;

  transform: rotate(-22.5deg) translate(-2px, 50%);
}

.buy__price {
  text-align: center;
  font-weight: 600;
}

.buy__button {
  width: 100%;

  justify-content: center;
}

.buy__card__list {
  margin: 44px 0;
}

.buy__card__item {
  margin-bottom: 8px;
}

.buy__card__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .buy {
    padding-top: 200px;
  }

  .buy__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 36px;
    gap: 36px;
  }

  .buy__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 40px 45px;

    margin-bottom: 0;
  }

  .buy__new_price {
    margin-top: 12px;
    font-size: 44px;
    line-height: 35px;
  }

  .buy__period {
    font-size: 20px;
  }

  .buy__old_price {
    font-size: 36px;
  }

  .buy__old_price::after {
    width: 79.5px;

    transform: rotate(-26deg) translate(-5px, 50%);
  }

  .buy__card__item {
    margin-bottom: 12px;
  }

  .buy__card__list {
    margin: 64px 0 46px;
  }
}

/* FAQ */

.faq {
  padding-top: 92px;
  padding-bottom: 92px;

  max-width: 732px;
}

.faq__title {
  text-transform: uppercase;
  margin-bottom: 32px;
}

.faq__item {
  margin-bottom: 32px;
}

.faq__item:last-child {
  margin-bottom: 0;
}

.faq__button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  text-align: start;
}

.faq__button__icon {
  display: block;
  flex: none;

  transition: transform 0.2s linear;
}

.faq__button > span {
  width: 90%;

  font-size: 18px;
  font-weight: 600;
}

.faq__button > span,
.faq__button__icon {
  pointer-events: none;
}

.faq__item__wrap {
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.4s ease-in-out;
}

.faq__item__text {
  margin-top: 20px;
  color: rgb(255 255 255 / 0.8);
}

.faq__button.active .faq__button__icon {
  transform: rotate(-180deg);
}

@media (min-width: 1024px) {
  .faq {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .faq__title {
    text-align: center;

    margin-bottom: 44px;
  }

  .faq__button > span {
    font-size: 24px;
  }
}

/* Footer */

.footer {
  padding-top: 44px;
  padding-bottom: 44px;
  border-top: 1px solid #ffffff99;
}

.footer__links {
  margin: 44px 0;
}

.footer__links__title {
  font-size: 18px;

  display: flex;
  align-items: center;
}

.footer__links__title > svg {
  position: relative;
  top: 2px;

  margin-left: 12px;
}

.footer__links__list {
  margin-top: 16px;
}

.footer__links__item {
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.footer__links__item:last-child {
  margin-bottom: 0;
}

.footer__help {
  width: -moz-fit-content;
  width: fit-content;
}

.footer__help__icon {
  margin-right: 12px;
}

@media (min-width: 1024px) {
  .footer__wrap {
    display: flex;
    justify-content: space-between;
  }

  .footer__links {
    margin: 0;
  }
}

/* Modals */

.footer__modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;

  display: none;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  word-break: break-all;
  overflow: scroll;
}

.footer__modal.active {
  display: flex;
}

.footer__modal_content {
  position: relative;

  background-color: var(--main-background-color);
  padding: 30px 40px 30px 24px;
  width: 80%;

  max-height: 90%;

  border-radius: 16px;
}

.footer__modal__cross {
  position: absolute;
  top: 15px;
  right: 15px;
}

.footer__modal__cross:hover,
.footer__modal__cross:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.modals .footer__modal__cross::after {
  animation: none;
  border-color: #fff;
}

/* Animations */
@keyframes header-circle-creation {
  0% {
    border-color: transparent;
    transform: rotate(0deg);
  }
  25% {
    border-color: transparent #fff transparent transparent;
    transform: rotate(-35deg);
  }
  50% {
    border-color: transparent #fff #fff transparent;
  }
  75% {
    border-color: transparent #fff #fff #fff;
  }
  100% {
    border-color: #fff;
    transform: rotate(-300deg);
  }
}
